// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// breakpoints
$xs: 600px;
$sm: 960px;
$md: 1264px;
$lg: 1904px;

$acc-blue-color: #23D6EA;
$grey-color: #C4C4C4;
$darkgrey-color: #323232;
$background-dark-color: #0f0f0f;
